header {
    display: flex;
    flex-direction: row;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 86px;
}

.lista1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;



}

li {
    display: flex;
    background-color: red;
    font-size: 20px;

    ;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    width: 70vw;
}



body {
    max-width: 100vw;
}

h1 {
    text-align: center;
}

.infogeneral {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
}

#foto-shrek {
    max-height: 1200px;
    max-width: 800px;
}

.infogeneral .infocostado {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 5px;
    width: 100vw;
}



.sinopsis {
    text-align: justify;
    width: 95vw;
}

.favorito {
    background-color: black;
}

i {
    color: white;
}

footer {
    background-color: red;
    display: flex;
    font-family: 'Courier New', Courier, monospace;

}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


@media(max-width: 390px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    #foto-shrek {
        max-height: 400px;
        max-width: 260px;
    }

    p {
        font-size: 8px;
    }

    .favorito {
        font-size: 8px;
    }

    #rating {
        max-width: 25%;
        max-height: 25%;
    }

    li {
        font-size: 15px;
    }

    .logo {
        height: 100px;
        border-radius: 200;
    }

    header {

        display: flex;
        flex-wrap: wrap;

    }

    .lista1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer1 {
        display: flex;
        flex-direction: column;
    }

}