
h1 {
    text-align: center;
}

.fila {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

p{text-align: center; }

header{
    display: flex;
    flex-direction: row;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 86px;
}
.lista1{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  
 
  
}
li{
    display: flex;
    background-color:red;
    font-size: 20px;
    
    ;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    width: 70vw;
}

footer{
    background-color: red;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;}
  
@media(max-width:390px){
    .footer1{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:390px){
    
    
    li{font-size: 15px;}
    .logo{
        height: 100px;
        border-radius: 200;
    }
    header{
        
        display: flex;
        flex-wrap: wrap;
        
    }
    .lista1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    img{
        max-width:50%;
    max-height: 50%;
display: flex;
}
    p{font-size: 10px;}
    
}

